
$theme: 'auto';

// Gruvbox:
$dark0:         #282828;
$dark1:         #3c3836;
$dark2:         #504945;
$dark3:         #665c54;
$dark4:         #7c6f64;
$light4:        #a89984;
$light3:        #bdae93;
$light2:        #d5c4a1;
$light1:        #ebdbb2;
$light0:        #fbf1c7;
$red:           #cc241d;
$green:         #98971a;
$yellow:        #d79921;
$blue:          #458588;
$magenta:       #b16286;
$cyan:          #689d6a;
$orange:        #d65d0e;
$brightRed:     #fb4934;
$brightGreen:   #b8bb26;
$brightYellow:  #fabd2f;
$brightBlue:    #83a598;
$brightMagenta: #d3869b;
$brightCyan:    #8ec07c;
$brightOrange:  #fe8019;
$dimRed:        #9d0006;
$dimGreen:      #79740e;
$dimYellow:     #b57614;
$dimBlue:       #076678;
$dimMagenta:    #8f3f71;
$dimCyan:       #427b58;
$dimOrange:     #af3a03;

// Material:
// $dark0:         #263238;
// $dark1:         #37474f;
// $dark2:         #455a64;
// $dark3:         #546e7a;
// $dark4:         #607d8b;
// $light4:        #78909c;
// $light3:        #90a4ae;
// $light2:        #b0bec5;
// $light1:        #cfd8dc;
// $light0:        #eceff1;
// $red:           #f44336;
// $green:         #4caf50;
// $yellow:        #ffeb3b;
// $blue:          #2196f3;
// $magenta:       #9c27b0;
// $cyan:          #00bcd4;
// $orange:        #ff9800;
// $brightRed:     #ff7961;
// $brightGreen:   #80e27e;
// $brightYellow:  #ffff72;
// $brightBlue:    #6ec6ff;
// $brightMagenta: #d05ce3;
// $brightCyan:    #62efff;
// $brightOrange:  #ffc947;
// $dimRed:        #ba000d;
// $dimGreen:      #087f23;
// $dimYellow:     #c8b900;
// $dimBlue:       #0069c0;
// $dimMagenta:    #6a0080;
// $dimCyan:       #008ba3;
// $dimOrange:     #c66900;

$primary: $blue;
$brightPrimary: $brightBlue;
$dimPrimary: $dimBlue;

$secondary: $blue;
$brightSecondary: $brightBlue;
$dimSecondary: $dimBlue;
