@import "../util/fonts.scss";

$size-0: 3rem;
$size-1: 2rem;
$size-2: 1.5rem;
$size-3: 1.25rem;
$size-4: 1rem;
$size-5: 0.875rem;
$size-6: 0.85rem;
$size-7: 0.75rem;

$weight-thin: 100;
$weight-hairline: 100;
$weight-extralight: 200;
$weight-ultralight: 200;
$weight-light: 300;
$weight-normal: 400;
$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-demibold: 600;
$weight-bold: 700;
$weight-extrabold: 800;
$weight-ultrabold: 800;
$weight-black: 900;
$weight-heavy: 900;

$family-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-monospace: "Iosevka Web", "Fira Code", monospace;
