@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@mixin icon($url, $width, $height) {
  display: inline-block;
  width: $width;
  height: $height;
  -webkit-mask: url($url) no-repeat 100% 100%;
  mask: url($url) no-repeat 100% 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
