@charset "UTF-8";

@use "./normalize" as *;

@use "./config/colors" as *;
@use "./config/typography" as *;

@use "./util/theme" as *;

@use "./lib/include-media.scss" as *;

/* General Styles
 * -------------------------------------------------------------------------- */

html, body {
  @include fg(color);
  @include bg(background-color);
  font-family: $family-sans-serif;
  font-size: 16px;
}

h1,h2,h3,h4,h5,h6,.title { font-weight: $weight-light; }
h1 { font-size: $size-1; @include primary(color); margin: $size-3 0;}
h2 { font-size: $size-2; margin: $size-4 0;}
h3 { font-size: $size-3; margin: $size-5 0;}
h4,.title { font-size: $size-4; margin: $size-6 0;}
h5 { font-size: $size-5; margin: $size-7 0; @include fg4(color); }
h6 { font-size: $size-6; }

p { margin: 1em; font-size: 1em; }
div { font-size: 1em; }

blockquote {
  @include fg2(color);
  @include bg1(background-color);
  border-left: 8px solid;
  @include primary(border-color);
  border-radius: 8px;
  padding: 0.5em;
}
code {
  font-family: $family-monospace;
  // @include bg1(background-color);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid;
  @include bg4(border-color);
  margin: 1em 0;
  padding: 0;
}

a {
  @include secondary(color);
  text-decoration: none;
  &:hover {
    @include secondaryAccent(color);
    transition: 0.25s ease;
  }
}

div.doxheader, div.header, div.contents {
  margin: 0 auto;
  padding: 0px;
  @include media(">phone", "<=tablet") { max-width: 90%; }
  @include media(">tablet", "<=desktop") { max-width: 704px; }
  @include media(">desktop", "<=widescreen") { max-width: 960px; }
  @include media(">widescreen", "<=fullhd") { max-width: 1088px; }
  @include media(">fullhd") { max-width: 1280px; }
}
div.contents {
  margin-top: 10px;
}

div.center {
  text-align: center;
  margin: 0px auto;
  padding: 0px;
  width: 100%;
  overflow-x: auto;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  @include bg1(background);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb{
  border-radius: 5px;
  @include bg2(background);
}
::-webkit-scrollbar-thumb:hover {
  @include fg4(background);
}

p.formulaDsp {
  text-align: center;
}

/* Header
 * -------------------------------------------------------------------------- */

#titlearea {
  @include bg2(color);
  @include bg1(background-color);
  border: none;
  padding: 0;
}
div.doxheader {
  font-size: $size-4;
  height: $size-1 + 1.2rem;
}
#doxhome, #projectname {
  line-height: $size-1 + 1.0rem;
  @include fg0(color);
  font-size: $size-1 + 0.25rem;
  float: left;
}
div.doxbrief {
  @include media(">phone", "<=tablet") { display: none; };
  @include media(">tablet") { display: inline-block; };
  line-height: $size-1 + 1.0rem;
  // float: right;
  @include fg2(color);
}
.doxnavbar {
  list-style-type: none;
  margin: 0 auto;
  float: right;
    li {
    float: left;
  }
  a, a:visited {
    line-height: $size-1 + 1.0rem;
    margin-left: 2em;
    display: block;
    @include fg2(color);
  }
  a:hover, a:visited:hover {
    color: $brightPrimary;
    transition: 0.35s ease;
  }
}
.chevron {
  padding-right: 1em;
  @include media(">phone", "<=tablet") { display: none; }
  @include media(">tablet") { display: inline-block; }
}
.chevron::before {
  @include media(">phone", "<=tablet") { display: none; }
  @include media(">tablet") { display: inline-block; }
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
  @include primary(border-color);
  border-radius: 0.1em;
	content: '';
	height: 2em;
	left: 0;
	position: relative;
	transform: rotate(45deg);
	vertical-align: middle;
	width: 2em;
}

/* Footer
 * -------------------------------------------------------------------------- */
address.footer {
  margin-top: $size-1;
  padding-top: $size-1;
  padding-bottom: $size-1;
  @include bg1(background-color);
  @include fg4(color);

  p {
    text-align: center;
    margin: 0 auto;
    padding: 0px;
    @include media(">phone", "<=tablet") { max-width: 90%; }
    @include media(">tablet", "<=desktop") { max-width: 704px; }
    @include media(">desktop", "<=widescreen") { max-width: 960px; }
    @include media(">widescreen", "<=fullhd") { max-width: 1088px; }
    @include media(">fullhd") { max-width: 1280px; }
  }
}

/* Tabs
 * -------------------------------------------------------------------------- */

// #main-nav,#main-menu,#main-menu a,#main-menu a:visited,#main-menu a:hover,#main-menu li,.memdoc,dl.reflist dd,div.toc li,.ah,span.lineno,span.lineno a,span.lineno a:hover,.note code,.pre code,.post code,.invariant code,.warning code,.attention code,.deprecated code,.bug code,.todo code,.test code,.doxtable code,.markdownTable code {
// 	background: $bg3;
// }
#main-nav {
  @include bg2(background);
}
.sm-dox {
  @include fg2(color);
  @include bg2(background);
  text-shadow: none;
  border: none;
  margin: 0 auto;
  @include media(">phone", "<=tablet") { max-width: 90%; }
  @include media(">tablet", "<=desktop") { max-width: 704px; }
  @include media(">desktop", "<=widescreen") { max-width: 960px; }
  @include media(">widescreen", "<=fullhd") { max-width: 1088px; }
  @include media(">fullhd") { max-width: 1280px; }
  a,a:focus,a:active,a.highlighted,a:hover {
    @include fg2(color);
    background: none;
    text-shadow: none;
    border: none;
  }
  ul {
    @include fg2(color);
    @include bg3(background);
    text-shadow: none;
    border: none;
    a,a:focus,a:active,a:hover,a.highlighted,a:hover {
      line-height: 2em;
      @include fg2(color);
      background: none;
      text-shadow: none;
      border: none;
    }
  }
}
.sm-dox a:hover { @include primaryAccent(color); }
.sm-dox a span.sub-arrow {
	border-color: transparent;
  @include primary(border-top-color)
}
.sm-dox a span.sub-arrow:active,.sm-dox a span.sub-arrow:focus,.sm-dox a span.sub-arrow:hover,.sm-dox a:hover span.sub-arrow {
	border-color: transparent;
  @include primaryAccent(border-top-color)
}
.sm-dox ul a span.sub-arrow,.sm-dox ul a span.sub-arrow,.sm-dox ul a span.sub-arrow{
	border-color:transparent;
  @include primary(border-left-color);
}
.sm-dox ul a span.sub-arrow:active,.sm-dox ul a span.sub-arrow:focus,.sm-dox ul a span.sub-arrow:hover,.sm-dox ul a:hover span.sub-arrow {
	border-color:transparent;
  @include primaryAccent(border-left-color);
}
.sm-dox ul.sm-nowrap a {
  @include fg1(color);
  text-shadow:none;
}
.sm-dox li ul::before {
  border: none;
}
.sm-dox li ul::after {
  border-color: transparent;
  @include bg3(border-bottom-color);
}
.sm-dox ul a {
  color: $primary;
  @include bg3(background);
}
.sm-dox ul a:hover {
  color: $brightPrimary;
  @include bg3(background);
}
.sm-dox a span.sub-arrow {
  @media(max-width: 768px) {
    &:before {
      content: '+';
    }
  }
}

/* Search
 * -------------------------------------------------------------------------- */
#MSearchBox {
  border: 2px solid;
  @include bg2(border-color);
  border-radius: 20px;
  @include bg1(background);
  margin-top: 6px;
  .left {
    background-image: none;
    input {
      @include bg1(background);
      @include fg4(color);
    }
  }
  .right {
    background-image: none;
  }
}

#MSearchField {
  font-family: $family-sans-serif;
  font-size: 1rem;
}

.SelectItem {
  font-family: $family-sans-serif;
  font-size: 0.75rem;
}

#MSearchSelectWindow {
  @include bg3(background);
  @include fg1(color);
  border: none;
  a.SelectItem {
    @include fg1(color);
  }
  a.SelectItem:hover {
    @include primary(background-color);
  }
}

#MSearchResultsWindow {
  @include bg0(background-color);
  @include primaryAccent(border-color);
}

.left #MSearchSelect {
  @include icon("/search-solid.svg", 15px, 15px);
  @include fg4(background-color);
  top: 2px;
  cursor: pointer;
}
.right #MSearchCloseImg {
  @include icon("/times-circle-solid.svg", 15px, 15px);
  @include fg4(background-color);
  cursor: pointer;
}

/* Navpath
 * -------------------------------------------------------------------------- */
.navpath { 
  width: 100%;
  line-height: 2rem;
  @include bg1(background-color);
}
.navpath ul {
  @include fg2(color);
  background-image: none;
  border: none;
  font-size: $size-7;
  height: 2rem;
  line-height: 2rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 0px;
  text-align: center;
  @include media(">phone", "<=tablet") { max-width: 90%; }
  @include media(">tablet", "<=desktop") { max-width: 704px; }
  @include media(">desktop", "<=widescreen") { max-width: 960px; }
  @include media(">widescreen", "<=fullhd") { max-width: 1088px; }
  @include media(">fullhd") { max-width: 1280px; }
}
.navpath li.navelem {
  list-style-type: none;
  float: left;
  @include fg2(color);
  font-family: $family-sans-serif;
  text-shadow: none;
  background-image: none;
  border-right: solid 2px;
  @include bg4(border-color);
  padding-left: 10px;
  padding-right: 10px;
}
.navpath li.navelem a {
  @include fg2(color);
  font-family: $family-sans-serif;
  text-shadow: none;
}
.navpath li.navelem a:hover {
  @include primaryAccent(color);
}

/* Page Header
 * -------------------------------------------------------------------------- */

div.header {
  border-bottom: 1px solid;
  @include fg4(border-color);
  margin: 0px auto;
  padding: 5px 0px;
}

div.summary {
  float:right;
  font-size: $size-7;
  padding-right: 1rem;
  width: 50%;
  text-align: right;
  a {
    white-space: nowrap;
  }
}

div.ingroups {
  font-size: $size-7;
  width: 50%;
  text-align: left;
  a {
    white-space: nowrap;
    &.el {
      font-weight: $weight-bold;
    }
  }
}

/* Tables
 * -------------------------------------------------------------------------- */
div.directory {
  margin: $size-5 0px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  width: 100%;
  @include bg4(border-color);
}
.directory .levels {
  white-space: nowrap;
  width: 100%;
  text-align: right;
  font-size: $size-7;
  margin-top: 5px;
  margin-bottom: 5px;
  span {
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
    @include secondary(color);
    &:hover {
      @include secondaryAccent(color);
      transition: 0.25s ease;
    }
  }
}
table.directory {
  font-family: $family-sans-serif;
  border-collapse: collapse;
}
table.directory tr {
  padding-left: 10px;
  @include bg1(background-color);
}
table.directory tr.even {
  padding-left: 10px;
  @include bg2(background-color);
}
.directory td.entry {
  white-space: nowrap;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.directory td.desc{
  width: 100%;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid;
}
.directory tr td.desc {
  @include bg2(border-color);
}
.directory tr.even td.desc {
  @include bg3(border-color);
}
.arrow {
  @include primary(color);
  cursor: pointer;
  display: inline-block;
  &:hover {
    @include secondaryAccent(color);
    transition: 0.25s ease;
  }
}

/* Tables
 * -------------------------------------------------------------------------- */
table.memberdecls {
  border-spacing: 0px;
  padding: 0px;
}
.inherit_header td {
  padding: 5px;
}
.inherit {
  display: none;
}

/* Documentation Summary
 * -------------------------------------------------------------------------- */
h2.groupheader {
  border-bottom: 1px solid;
  @include fg4(border-color);
  color: $primary;
  margin: $size-5 auto;
  font-size: $size-3;
  width: 100%;
}
.mdescLeft, .mdescRight, .memItemLeft, .memItemRight, .memTemplItemLeft, .memTemplItemRight, .memTemplParams {
  border: none;
  margin: 4px;
  padding: 1px 0 0 8px;
  font-family: $family-monospace;
  @include bg1(background-color);
}
.memTemplParams {
  @include primary(color);
  font-size: $size-7;
}
.memItemLeft, .memTemplItemLeft {
  white-space: nowrap;
}
.memItemRight, .memTemplItemRight {
  width: 100%;
}
.memSeparator {
  border-bottom: 1px solid;
  @include bg2(border-color);
  @include bg1(background-color);
  line-height: 1px;
  margin: 0px;
  padding: 0px;
}
td a.el {
  font-weight: $weight-bold;
}

/* Documentation
 * -------------------------------------------------------------------------- */
h2.memtitle {
  font-size: $size-3;
  padding: 8px;
  line-height: $size-3;
  margin-bottom: 0px;
  @include fg0(color);
  @include bg2(background-color);
  border: 1px solid;
  border-radius: 5px 5px 0px 0px;
  @include bg2(border-color);
}
.permalink {
  display: inline-block;
}
div.memitem {
  padding: 0px;
  padding-bottom: 1px;
  margin-bottom: 10px;
  @include bg1(background-color);
  border-bottom: 1px solid;
  border-radius: 0px 0px 5px 5px;
  @include bg1(border-color);
}
.memproto, dl.reflist dt {
  padding: 6px 0px 6px 0px;
  font-weight: $weight-bold;
  @include bg2(background-color);
  border: 1px solid;
  @include bg2(border-color);
}
.memtemplate {
  font-size: $size-7;
  @include primary(color);
  font-weight: $weight-normal;
  margin-left: 9px;
  font-family: $family-monospace;
}
table.mlabels {
  border-spacing: 0px;
}
td.mlabels-left {
  width: 100%;
  padding: 0px;
  font-family: $family-monospace;
}
td.mlabels-right {
  vertical-align: bottom;
  padding: 0px;
  white-space: nowrap;
}
.mlabels {
  margin-left: 5px;
  .mlabel {
    @include primary(background-color);
    @include fg0(color);
    padding: 2px 3px;
    font-size: $size-7;
    font-weight: $weight-bold;
    margin-right: 4px;
    vertical-align: middle;
  }
}
.memname {
  font-weight: $weight-regular;
  font-family: $family-monospace;
  margin-left: 6px;
  td {
    vertical-align: bottom;
  }
}
.memdoc, dl.reflist dd {
  padding: 6px 10px 2px 10px;
  // code {
  //   @include bg2(background-color);
  // }
}
.params, .retval, .exception, .tparams {
  margin-left: 0px;
  padding-left: 00px;
  dt {
    font-weight: $weight-bold;
  }
  .paramname {
    font-family: $family-monospace;
    font-weight: $weight-bold;
    vertical-align: top;
  }
}
.return dt{
  font-weight: $weight-bold;
}

/* Admonitons
 * -------------------------------------------------------------------------- */
dl.todo {
  @include bg2(background-color);
  border-left: 8px solid;
  @include blue(border-color);
  border-radius: 8px;
  padding: 0.5em;
}
dl.warning {
  @include bg2(background-color);
  border-left: 8px solid;
  @include orange(border-color);
  border-radius: 8px;
  padding: 0.5em;
}

/* Reflist
 * -------------------------------------------------------------------------- */
dl.reflist dt {
  border-radius: 5px 5px 0px 0px;
}
dl.reflist dd {
  padding: 5px;
  margin: 0px 0px 10px 0px;
  @include bg1(background-color);
  border-radius: 0px 0px 5px 5px;
}

/* Index
 * -------------------------------------------------------------------------- */
div.qindex {
  width: 100%;
  font-size: $size-6;
  padding: 5px;
  border: 1px solid;
  text-align: center;
  @include bg1(background-color);
  @include fg4(border-color);
}
table.classindex {
  white-space: nowrap;
  overflow-x: auto;
}
div.ah, span.ah {
  @include primaryAccent(background-color);
  @include bg0(color);
  font-weight: $weight-bold;
  font-size: $size-5;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-bottom: 2px;
  border-radius: 5px;
}

/* Icons
 * -------------------------------------------------------------------------- */
.icona {
  display: inline-block;
  padding-bottom: 2px;
  // height: 100px;
}
span.icon {
  font-family: $family-monospace;
  @include primary(background-color);
  @include fg0(color);
  font-size: $size-7;
  border: 1px solid;
  @include primary(border-color);
  border-radius: 5px;
  font-weight: $weight-bold;
  padding: 0px 3px;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
}

.icondoc{
  @include icon("/file-alt-solid.svg", 12px, 16px);
  @include fg3(background-color);
  background-image: none;
  margin-right: 2px;
}
.iconfopen{
  @include icon("/folder-open-solid.svg", 19px, 18px);
  @include fg3(background-color);
  background-image: none;
  margin-right: 2px;
  cursor: pointer;
}
.iconfclosed{
  @include icon("/folder-solid.svg", 19px, 18px);
  @include fg3(background-color);
  background-image: none;
  margin-right: 2px;
  cursor: pointer;
}

/* Code
 * -------------------------------------------------------------------------- */

div.fragment {
  @include fg2(color);
  @include bg1(background-color);
  padding: 0.2em 0;
  margin: 4px 8px 4px 2px;
  text-align: left;
  direction: ltr;
  overflow-x: auto;
  overflow-y: hidden;
}
div.memdoc .fragment {
  @include fg2(color);
  @include bg2(background-color);
  padding: 0.2em 0;
  margin: 4px 8px 4px 2px;
  text-align: left;
  direction: ltr;
  overflow-x: auto;
  overflow-y: hidden;
}
div.line {
  font-family: $family-monospace;
  margin: 0px;
  white-space: pre-wrap;
}
span.lineno {
  border-right: 2px solid;
  padding-right: 3px;
  text-align: right;
  white-space: pre;
  @include bg4(border-color);
  @include bg2(background-color);
  a {
    @include fg0(color);
    font-weight: $weight-bold;
  }
  a:visited:hover {
    @include bg3(background-color);
    @include primary(color);
  }
  a:hover {
    @include bg3(background-color);
    @include primary(color);
  }
}
.ttc {
  position: absolute;
  display: none;
}
#powerTip {
  display: none;
  cursor: default;
  white-space: nowrap;
  @include bg2(background-color);
  border: 1px solid;
  @include bg2(border-color);
  border-radius: 5px;
  max-width: 80%;
  padding: 1ex 1em 1em;
  position: absolute;
}

span.keyword       { @include green(color); }
span.keywordtype   { @include orange(color); }
span.keywordflow   { @include orangeAccent(color); }
span.comment       { @include fg4(color); font-style: italic}
span.preprocessor  { @include orange(color); }
span.stringliteral { @include blue(color); }
span.charliteral   { @include cyan(color); }
span.vhdldigit     { @include magenta(color); }
span.vhdlchar      { @include fg1(color); }
span.vhdlkeyword   { @include magenta(color); }
span.vhdllogic     { @include red(color); }
